* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

.float-left {
  float: left;
}

clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* header */

header {
  text-align: center;
  color: #E53170;
  font-weight: 700;
}

header h1{
  padding: 50px;
}

/* main */

.caption {
  text-align: center;
}

main .caption-container{
  margin-bottom: 50px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.box-container .box{
  display: inline-block;
  height: 80px;
  width: 250px;
  background-color: black;
  color: white;
  margin: 10px;
  text-align: left;
}



.propic {
  width: 80px;
  margin-right: 10px;
}

.name {
  margin: 0px 10px;
}

.email{
  color: aqua;
  font-size: .6rem;
}

.work {
  font-size: .7rem;
}
