* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

.float-left {
  float: left;
}

.clearfix::after{
  clear: both;
  display: table;
  content: "";
}
/* header */

header {
  text-align: center;
  color: #E53170;
  font-weight: 700;
}

header h1{
  padding: 50px;
}


/* main */

.caption {
  text-align: center;
}

main .caption-container{
  margin-bottom: 50px;
}

.container{
  max-width: 1500px;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

.box-container .box{
  display: inline-block;
  height: 100px;
  width: calc(100% / 3 - 20px);
  background-color: black;
  color: white;
  margin: 20px 10px;
  text-align: left;
  box-shadow: 0px 0px 5px 3px #cecccc;
}

.propic {
  width: 100px;
  margin-right: 10px;
}

.name {
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

.email{
  color: #6ECBF2;
  font-size: .6rem;
  margin-top: 15px;
}

.work {
  font-size: .7rem;
}


/* footer */

footer {
  font-size: .8rem;
}